 {% extends 'blog/base.html' %}
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
            {% block content %}
                {% for blog_list in blog_list %}
                    <div class="blog_list">
                       <p>published: {{ blog_list.tiemstamp }}</p>
                      <h1><a href="{% url 'post_detail' pk=blog_list.pk %}">{{ blog_list.title }}</a></h1>
                      <p>{{ blog_list.body|linebreaksbr }}</p>
                    </div>
                 {% endfor %}
            {% endblock content %}
                </div>
            </div>
        </div>
    </body>